.centered-verse {
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 1px gray;
    position: absolute;
    text-align: center;
    height: 400px;
	width: 400px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
	z-index: 4;
}

.imageContainer {
    position: relative;
    width: 500px;
    height: 500px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	object-fit: cover;
	align-items: center;
}

.image-row {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 5px; 
}

.image-row img {
    margin-right: 10px; Adjust the margin to control the spacing between images
}


.generatedImage {
	position: relative;
    align-items: center;
	object-fit: cover;
    width: 500px;
    height: 500px;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
}

h2 {
	margin: 0;	
}

h3 {
	/* font-family: Brush Script MT, Bold, sans-serif; */

}

body {
	text-align: center;
}

input {
	width: 80%;
	margin:5px;
}


img {
	position: relative;
    align-items: center;
	object-fit: cover;
    width: 500px;
    height: 500px;
  }
  
  delete-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	/* display: none; */
  }

  