<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>InstaBible 2.0</title>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>

  <h1>InstaBible 2.0</h1>
  <h2>by John Welkener</h2><br>
  <h3>Create an Instagrammable Bible Verse in 3 Easy Steps</h3>

  <form id="user-form">
    <p>Step 1. Choose your background image.</p>
    <input type="text" id="imageInput" placeholder="Enter image URL:" required /> <br>
    <p>Or, choose an image below:</p>
    <div id = 'image-bank'></div><br>
    <p>Step 2. Choose your verse.</p>
    <input type="text" id="verseInput" placeholder="Enter verse, e.g., John 3:16" required /> <br> <br>
    <!-- <button type="button" id="randomVerseButton" onclick="getRandomVerse()">Random Verse</button>
    <br><br> -->
    <p>Step 3. Download your image below.</p>
    <button type="submit" id="generateImageButton">Download</button><br><br>
  </form>

  <div class="imageContainer">
    <div class="{{ css_class }}">{{ verse }}</div>
  </div>

  <script src="../static/js/app.js" defer></script>
  <script src = "../static/js/imagebank.js" defer></script>

</body>

</html>
